<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>File Upload | NodeJS</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div class="container">
		<%= typeof msg != 'undefined' ? msg : '' %>
		<h1>File Upload</h1>
		<form action="/upload" method="POST" enctype="multipart/form-data">
		    <div class="file-field input-field">
		      	<div class="btn grey">
		        	<span>File</span>
		        	<input type="file" name="photo">
		      	</div>
		      	<div class="file-path-wrapper">
		        	<input class="file-path validate" type="text">
		      	</div>
		    </div>
		    <button type="submit" class="btn">Upload</button>
		</form>
	</div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>